body {
  padding: 10px;
  position: relative;
  overflow: hidden !important;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/video/chatbot.jpg");
  background-size: cover;
  filter: blur(3px);
  z-index: -1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  height: 100vh;
  position: relative;
}

.chat_boat {
  position: relative;
  z-index: 1;
  display: block;
  margin: auto;
}

.chat_boat {
  background-color: #f2f2f7;
  border: 5px solid #ddd;
  width: 25vw;
  height: calc(100vh - 40px);
  border-radius: 40px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.chat_bot_field {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
  margin-left: 10px;
}

.send_icon {
  width: auto;
  float: right;
  color: hsl(256, 97%, 71%) !important;
}

.input_text {
  padding: 10px;
  min-width: 270px;
  border: 2px solid #ddd;
  border-radius: 20px;
}

.chatbot_text {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  color: #058376;
  font-size: 13px;
}
.typo_h4 {
  max-width: 36vw;
  text-align: left;
  font-weight: 900;
  padding: 50px;
  font-family: Lobster !important;
  color: white;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.message_container {
  max-height: 200px !important;
  overflow-y: auto !important;
}

.message {
  background-color: rgb(197, 197, 197);
  max-width: 50%;
  padding: 5px;
  margin: 0px 10px 10px 10px !important;
  border: 2px solid rgb(197, 197, 197);
  border-radius: 10px;
}

.left {
  float: left;
  clear: both;
}

.right {
  float: right;
  clear: both;
}

#send_container {
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
}
