body {
  padding: 10px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  height: 100vh;
}
.chat_boat {
  background-color: #f2f2f7;
  border: 5px solid #ddd;
  width: 25vw;
  height: calc(100vh - 25px);
  border-radius: 40px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.chat_bot_field {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  width: 85%;
  margin-left: 20px;
  margin-bottom: 3px;
}

.input_text {
  padding: 10px;
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 20px;
}

.chatbot_text {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  /* margin-left: 10px; */
  color: #058376;
  font-size: 13px;
}

#videoBackground {
  width: 100vw;
}
